{% extends 'base.html' %}

{% load static %}
{% block contents %}

<link rel="stylesheet" href="{% static 'style.css' %}">

<br>
<br>

<div class = 'text-center'>
<h1> 소듕한 개발자들의 공간</h1>

    <a href="https://www.facebook.com/likelionMJU/">
        <img src="{% static 'home/images/toystory.jpg'%}" id="signup" class="card-img-top" alt="...">
    </a>
<br>

<h2>
    토이스토리
</h2>

<br>

<h3> 
    변현홍 한종우 김만수 전기석 반정훈
    <br>
    김희지 박건희 서유림
</h3>

<br>

<h4>
    술 한잔 마셨습니다... 배포가 잘 안되도 좋습니다. 
    <br>
    하지만 트럭왓썹 하나만 기억해주세요...
    <br>
    밤낮으로 고민하고 커밋 했습니다...
    <br>
    저희들의 진심이 느껴지길 바랍니다 감사합니다....
</h4>

<br>

</div>


{% endblock %}