{%extends 'base.html' %}

{%load static%}
{%block contents%}

<link rel="stylesheet" href="{%static 'home/css/home.css'%}" type="text/css">

<div class="container">

  <div class="intro">Introduction</div>
  <br>
  <br>
  <div class="row">

    <div class="card">
      <div class="poster">
        <img src="{% static 'home/images/waterbombseoul.jpg' %}">
      </div>
      <div class="details">
        <h2>워터밤 (2019)<br><span>서울/인천/대전/대구/광주/부산</span></h2>

        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <span>5/5</span>
        </div>

        <div class="tags">
          <span class="fantasy">Sprite</span>
          <span class="scifi">Water</span>
        </div>

        <div class="info">
          <p>올 여름, 최고의 뮤직페스티벌 워터밤을 주목하라! 내가 좋아하는 뮤지션과 함께 팀이 되어 펼치는 워터파이팅!</p>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="poster">
        <img src="{% static 'home/images/psy.gif' %}">
      </div>
      <div class="details">
        <h2>흠뻑쇼 (2019)<br><span>서울/인천/수원/대전/대구/광주/부산</span></h2>

        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="far fa-star" aria-hidden="true"></i>
          <span>4/5</span>
        </div>

        <div class="tags">
          <span class="fantasy">Psy</span>
          <span class="scifi">Water</span>
        </div>

        <div class="info">
          <p>싸이 흠뻑쇼</p>
        </div>

      </div>
    </div>
    <div class="card">
      <div class="poster">
        <img src="{% static 'home/images/showerrun.jpg' %}">
      </div>
      <div class="details">
        <h2>샤워런 서울 (2019)<br><span>난지한강공원 젊음의 광장</span></h2>

        <div class="rating">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <span>5/5</span>
        </div>

        <div class="tags">
          <span class="fantasy">Activity</span>
          <span class="scifi">Festival</span>
        </div>

        <div class="info">
          <p>가장 더운날 펼쳐지는 가장 시원한 여름 한강 축제! 음악과 액티비티, 그리고 150톤의 물대포 어트랙션이 어우러져 무더위에 지친 시민들에게 추억을 선사합니다.</p>
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}
