@font-face { font-family: 'Eoe_Zno_B'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Eoe_Zno_B.woff') format('woff'); font-weight: normal; font-style: normal; }
.center-align {
  float: none;
  margin: 0 auto;
}
body{
  font-family: 'Jua', serif;
  /* background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); */
  background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
}

.container{
  margin-top:20px;
  margin-bottom:100px;
}
.card-deck{
  margin:100px;
  padding:15px;
}
#card{
  margin:5%;
}
#signup{
  margin:30px;
  width:80%;
}
.col-sm-6{
  padding-left:10%;
  padding-right:10%;
}
