<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_442b2d4921db410eae1ba8684b28982b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_442b2d4921db410eae1ba8684b28982b" ></div>
        
</body>
<script>    
    
            var map_442b2d4921db410eae1ba8684b28982b = L.map(
                "map_442b2d4921db410eae1ba8684b28982b",
                {
                    center: [37.580421, 126.923437],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7aef644c4c6348f7bda8729e37920612 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
            var marker_3c60b40838834aef9046333c3d3ca4e7 = L.marker(
                [37.580421, 126.923437],
                {}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
        var popup_94309512f54e437eb56be82f450a3db7 = L.popup({"maxWidth": "100%"});

        
            var html_87c65096839c4dd3b6a543649ba2f156 = $(`<div id="html_87c65096839c4dd3b6a543649ba2f156" style="width: 100.0%; height: 100.0%;">Myongji University</div>`)[0];
            popup_94309512f54e437eb56be82f450a3db7.setContent(html_87c65096839c4dd3b6a543649ba2f156);
        

        marker_3c60b40838834aef9046333c3d3ca4e7.bindPopup(popup_94309512f54e437eb56be82f450a3db7)
        ;

        
    
    
            var marker_87f03f86676c4619b1d7fcd3f0d85295 = L.marker(
                [37.581515, 126.925015],
                {}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
        var popup_4cf67c425fb44305a0f3167f22fbcb73 = L.popup({"maxWidth": "100%"});

        
            var html_d9ddeefcfaf44024b166adc4bf0218b5 = $(`<div id="html_d9ddeefcfaf44024b166adc4bf0218b5" style="width: 100.0%; height: 100.0%;">띵동와플</div>`)[0];
            popup_4cf67c425fb44305a0f3167f22fbcb73.setContent(html_d9ddeefcfaf44024b166adc4bf0218b5);
        

        marker_87f03f86676c4619b1d7fcd3f0d85295.bindPopup(popup_4cf67c425fb44305a0f3167f22fbcb73)
        ;

        
    
    
            var marker_213de943d12b47dc8721dd32cffcbbf7 = L.marker(
                [37.580057, 126.924613],
                {}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
        var popup_bf1aca963e054b7bbb46ff987dff777c = L.popup({"maxWidth": "100%"});

        
            var html_1af9c530d94f4295a650a003826fb097 = $(`<div id="html_1af9c530d94f4295a650a003826fb097" style="width: 100.0%; height: 100.0%;">핫도그팩토리</div>`)[0];
            popup_bf1aca963e054b7bbb46ff987dff777c.setContent(html_1af9c530d94f4295a650a003826fb097);
        

        marker_213de943d12b47dc8721dd32cffcbbf7.bindPopup(popup_bf1aca963e054b7bbb46ff987dff777c)
        ;

        
    
    
            var marker_8d542cb2e7294d8bbf7b4ccb5396b1c0 = L.marker(
                [37.579985, 126.925115],
                {}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
        var popup_6b215e6914364b57ac8647fb77175f59 = L.popup({"maxWidth": "100%"});

        
            var html_e0b6c2aa3b2b4a8a90465130ad9ffea2 = $(`<div id="html_e0b6c2aa3b2b4a8a90465130ad9ffea2" style="width: 100.0%; height: 100.0%;">붕어빵</div>`)[0];
            popup_6b215e6914364b57ac8647fb77175f59.setContent(html_e0b6c2aa3b2b4a8a90465130ad9ffea2);
        

        marker_8d542cb2e7294d8bbf7b4ccb5396b1c0.bindPopup(popup_6b215e6914364b57ac8647fb77175f59)
        ;

        
    
    
            var marker_6673917936844437917157d7de2bdab9 = L.marker(
                [37.573945, 126.923334],
                {}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
        var popup_87511704893e44e283d327758c50e347 = L.popup({"maxWidth": "100%"});

        
            var html_fe7d301ecd6b4f939b923563aa5c6ab7 = $(`<div id="html_fe7d301ecd6b4f939b923563aa5c6ab7" style="width: 100.0%; height: 100.0%;">타코야키</div>`)[0];
            popup_87511704893e44e283d327758c50e347.setContent(html_fe7d301ecd6b4f939b923563aa5c6ab7);
        

        marker_6673917936844437917157d7de2bdab9.bindPopup(popup_87511704893e44e283d327758c50e347)
        ;

        
    
    
            var marker_7ddd84bafbc84398aafa992e7ad60754 = L.marker(
                [37.581752, 126.924334],
                {}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
        var popup_7c7cc3388bd544cdb8d5730b2c56a0f6 = L.popup({"maxWidth": "100%"});

        
            var html_39faeb4449de4246b30b9c1db246d007 = $(`<div id="html_39faeb4449de4246b30b9c1db246d007" style="width: 100.0%; height: 100.0%;">청년반점</div>`)[0];
            popup_7c7cc3388bd544cdb8d5730b2c56a0f6.setContent(html_39faeb4449de4246b30b9c1db246d007);
        

        marker_7ddd84bafbc84398aafa992e7ad60754.bindPopup(popup_7c7cc3388bd544cdb8d5730b2c56a0f6)
        ;

        
    
    
            var marker_1bf5a13f159f406cb33f3c93085b14b2 = L.marker(
                [37.581375, 126.925334],
                {}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
        var popup_5902847305344399be45f0014967af53 = L.popup({"maxWidth": "100%"});

        
            var html_7d548145b4b142f9a6a76a9232a938d9 = $(`<div id="html_7d548145b4b142f9a6a76a9232a938d9" style="width: 100.0%; height: 100.0%;">키다리푸드트럭</div>`)[0];
            popup_5902847305344399be45f0014967af53.setContent(html_7d548145b4b142f9a6a76a9232a938d9);
        

        marker_1bf5a13f159f406cb33f3c93085b14b2.bindPopup(popup_5902847305344399be45f0014967af53)
        ;

        
    
    
            var marker_c7f95ab049a645d8a23861bbd34b076c = L.marker(
                [37.581215, 126.921334],
                {}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
        var popup_8a2c693cfb9f4f4289a89272aee63166 = L.popup({"maxWidth": "100%"});

        
            var html_d897da7d4ff748e48f824f98f802e19b = $(`<div id="html_d897da7d4ff748e48f824f98f802e19b" style="width: 100.0%; height: 100.0%;">기도리</div>`)[0];
            popup_8a2c693cfb9f4f4289a89272aee63166.setContent(html_d897da7d4ff748e48f824f98f802e19b);
        

        marker_c7f95ab049a645d8a23861bbd34b076c.bindPopup(popup_8a2c693cfb9f4f4289a89272aee63166)
        ;

        
    
    
            var marker_f5fc3786be8c4ae286bc99bcc1a30794 = L.marker(
                [37.581175, 126.923434],
                {}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
        var popup_ea0ad66db7614d8d951d69a1dc5b8334 = L.popup({"maxWidth": "100%"});

        
            var html_17f4fdb03a314d40aa8dc1576940c3e2 = $(`<div id="html_17f4fdb03a314d40aa8dc1576940c3e2" style="width: 100.0%; height: 100.0%;">청년창업</div>`)[0];
            popup_ea0ad66db7614d8d951d69a1dc5b8334.setContent(html_17f4fdb03a314d40aa8dc1576940c3e2);
        

        marker_f5fc3786be8c4ae286bc99bcc1a30794.bindPopup(popup_ea0ad66db7614d8d951d69a1dc5b8334)
        ;

        
    
    
            var marker_e15c13397edd41c78ecdacc03efe0877 = L.marker(
                [37.581475, 126.926234],
                {}
            ).addTo(map_442b2d4921db410eae1ba8684b28982b);
        
    
        var popup_846239fb53444a44a8693c06709d6586 = L.popup({"maxWidth": "100%"});

        
            var html_aa96872a1be4426692cc340ef575a316 = $(`<div id="html_aa96872a1be4426692cc340ef575a316" style="width: 100.0%; height: 100.0%;">꼬닐스</div>`)[0];
            popup_846239fb53444a44a8693c06709d6586.setContent(html_aa96872a1be4426692cc340ef575a316);
        

        marker_e15c13397edd41c78ecdacc03efe0877.bindPopup(popup_846239fb53444a44a8693c06709d6586)
        ;

        
    
</script>