<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_ac9a93168a864cfb9a8af57fe4869c29 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ac9a93168a864cfb9a8af57fe4869c29" ></div>
        
</body>
<script>    
    
            var map_ac9a93168a864cfb9a8af57fe4869c29 = L.map(
                "map_ac9a93168a864cfb9a8af57fe4869c29",
                {
                    center: [37.580421, 126.923437],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_0869a4064dfc4b37849cb78a364a691d = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
            var marker_b34f0d37057a4a4bb2445373b8077da1 = L.marker(
                [37.580421, 126.923437],
                {}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
        var popup_7052eaa50a07422abd5007002086a043 = L.popup({"maxWidth": "100%"});

        
            var html_096c42cef2e64b09b104aa8167ab680a = $(`<div id="html_096c42cef2e64b09b104aa8167ab680a" style="width: 100.0%; height: 100.0%;">Myongji University</div>`)[0];
            popup_7052eaa50a07422abd5007002086a043.setContent(html_096c42cef2e64b09b104aa8167ab680a);
        

        marker_b34f0d37057a4a4bb2445373b8077da1.bindPopup(popup_7052eaa50a07422abd5007002086a043)
        ;

        
    
    
            var marker_a392fdf7f643400e84bb8445a0d1b4f1 = L.marker(
                [37.581515, 126.925015],
                {}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
        var popup_160a70dc61fe48249a2291a0792c5174 = L.popup({"maxWidth": "100%"});

        
            var html_42b3c396db204b58916e65739c56279c = $(`<div id="html_42b3c396db204b58916e65739c56279c" style="width: 100.0%; height: 100.0%;">띵동와플</div>`)[0];
            popup_160a70dc61fe48249a2291a0792c5174.setContent(html_42b3c396db204b58916e65739c56279c);
        

        marker_a392fdf7f643400e84bb8445a0d1b4f1.bindPopup(popup_160a70dc61fe48249a2291a0792c5174)
        ;

        
    
    
            var marker_ed9f599b68ae4806890d7012a4c6b181 = L.marker(
                [37.580057, 126.924613],
                {}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
        var popup_48317c28a46d42569554a60f3fbb6964 = L.popup({"maxWidth": "100%"});

        
            var html_e0365462d002449cac0222f532dae33d = $(`<div id="html_e0365462d002449cac0222f532dae33d" style="width: 100.0%; height: 100.0%;">핫도그팩토리</div>`)[0];
            popup_48317c28a46d42569554a60f3fbb6964.setContent(html_e0365462d002449cac0222f532dae33d);
        

        marker_ed9f599b68ae4806890d7012a4c6b181.bindPopup(popup_48317c28a46d42569554a60f3fbb6964)
        ;

        
    
    
            var marker_a0b931f3ac6b4f7887f5c4f1f8dd9fdf = L.marker(
                [37.579985, 126.925115],
                {}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
        var popup_6c1e5893720b4b73b8a8015634c385dd = L.popup({"maxWidth": "100%"});

        
            var html_ea54788283ae477297d54ff08b765f05 = $(`<div id="html_ea54788283ae477297d54ff08b765f05" style="width: 100.0%; height: 100.0%;">붕어빵</div>`)[0];
            popup_6c1e5893720b4b73b8a8015634c385dd.setContent(html_ea54788283ae477297d54ff08b765f05);
        

        marker_a0b931f3ac6b4f7887f5c4f1f8dd9fdf.bindPopup(popup_6c1e5893720b4b73b8a8015634c385dd)
        ;

        
    
    
            var marker_0887be0a7fe04d458a3f302c5c4138ed = L.marker(
                [37.573945, 126.923334],
                {}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
        var popup_28eef96096e842dda8aba7827ea019d0 = L.popup({"maxWidth": "100%"});

        
            var html_f1b06fab73c04a8f9a1041c7600beacd = $(`<div id="html_f1b06fab73c04a8f9a1041c7600beacd" style="width: 100.0%; height: 100.0%;">타코야키</div>`)[0];
            popup_28eef96096e842dda8aba7827ea019d0.setContent(html_f1b06fab73c04a8f9a1041c7600beacd);
        

        marker_0887be0a7fe04d458a3f302c5c4138ed.bindPopup(popup_28eef96096e842dda8aba7827ea019d0)
        ;

        
    
    
            var marker_6c7ae8f26109448e950e42490069fb1e = L.marker(
                [37.581752, 126.924334],
                {}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
        var popup_628721a2a6c54361b45301ac925e2035 = L.popup({"maxWidth": "100%"});

        
            var html_7e0515d1aba14a068e327cbdc2b498be = $(`<div id="html_7e0515d1aba14a068e327cbdc2b498be" style="width: 100.0%; height: 100.0%;">청년반점</div>`)[0];
            popup_628721a2a6c54361b45301ac925e2035.setContent(html_7e0515d1aba14a068e327cbdc2b498be);
        

        marker_6c7ae8f26109448e950e42490069fb1e.bindPopup(popup_628721a2a6c54361b45301ac925e2035)
        ;

        
    
    
            var marker_ab52b367d91546c3928519d1c49b4f8d = L.marker(
                [37.581375, 126.925334],
                {}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
        var popup_b13da61089564a16bdb92e9d5146a630 = L.popup({"maxWidth": "100%"});

        
            var html_9f7bdbd5472441859102707e2e1e41c5 = $(`<div id="html_9f7bdbd5472441859102707e2e1e41c5" style="width: 100.0%; height: 100.0%;">키다리푸드트럭</div>`)[0];
            popup_b13da61089564a16bdb92e9d5146a630.setContent(html_9f7bdbd5472441859102707e2e1e41c5);
        

        marker_ab52b367d91546c3928519d1c49b4f8d.bindPopup(popup_b13da61089564a16bdb92e9d5146a630)
        ;

        
    
    
            var marker_3011db770e294b9ab165aeab52023346 = L.marker(
                [37.581215, 126.921334],
                {}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
        var popup_ed6279e987ea4208a657fdd2e413f0ef = L.popup({"maxWidth": "100%"});

        
            var html_70824d9a07614fac829c14a3a43c25b2 = $(`<div id="html_70824d9a07614fac829c14a3a43c25b2" style="width: 100.0%; height: 100.0%;">기도리</div>`)[0];
            popup_ed6279e987ea4208a657fdd2e413f0ef.setContent(html_70824d9a07614fac829c14a3a43c25b2);
        

        marker_3011db770e294b9ab165aeab52023346.bindPopup(popup_ed6279e987ea4208a657fdd2e413f0ef)
        ;

        
    
    
            var marker_3a1f334d13ef4d72a57beb7621eacb71 = L.marker(
                [37.581175, 126.923434],
                {}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
        var popup_40f89294371342e89c8e9ce7c0d4933a = L.popup({"maxWidth": "100%"});

        
            var html_78a5fa98c401426fa473f85c6203100e = $(`<div id="html_78a5fa98c401426fa473f85c6203100e" style="width: 100.0%; height: 100.0%;">청년창업</div>`)[0];
            popup_40f89294371342e89c8e9ce7c0d4933a.setContent(html_78a5fa98c401426fa473f85c6203100e);
        

        marker_3a1f334d13ef4d72a57beb7621eacb71.bindPopup(popup_40f89294371342e89c8e9ce7c0d4933a)
        ;

        
    
    
            var marker_4a7186a6dec14d3dacb1668f05285d0a = L.marker(
                [37.581475, 126.926234],
                {}
            ).addTo(map_ac9a93168a864cfb9a8af57fe4869c29);
        
    
        var popup_b3455005ec2f441a90735763101ed079 = L.popup({"maxWidth": "100%"});

        
            var html_e28c96a03b884c149a19fc602376e105 = $(`<div id="html_e28c96a03b884c149a19fc602376e105" style="width: 100.0%; height: 100.0%;">꼬닐스</div>`)[0];
            popup_b3455005ec2f441a90735763101ed079.setContent(html_e28c96a03b884c149a19fc602376e105);
        

        marker_4a7186a6dec14d3dacb1668f05285d0a.bindPopup(popup_b3455005ec2f441a90735763101ed079)
        ;

        
    
</script>