<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_4c47258e9b3e43f2b3fce4f0950d6c09 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_4c47258e9b3e43f2b3fce4f0950d6c09" ></div>
        
</body>
<script>    
    
            var map_4c47258e9b3e43f2b3fce4f0950d6c09 = L.map(
                "map_4c47258e9b3e43f2b3fce4f0950d6c09",
                {
                    center: [37.580421, 126.923437],
                    crs: L.CRS.EPSG3857,
                    zoom: 20,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_708f549f5f0448d1aa072aaacedaadf0 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
            var marker_eb6355662b6446a3ad7f126ae5ff2c1d = L.marker(
                [37.580421, 126.923437],
                {}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
        var popup_5fbd541d4b8c4ba9aa8efb5a07863dbe = L.popup({"maxWidth": "100%"});

        
            var html_c38c967692dc462484a8315d06a50495 = $(`<div id="html_c38c967692dc462484a8315d06a50495" style="width: 100.0%; height: 100.0%;">Myongji University</div>`)[0];
            popup_5fbd541d4b8c4ba9aa8efb5a07863dbe.setContent(html_c38c967692dc462484a8315d06a50495);
        

        marker_eb6355662b6446a3ad7f126ae5ff2c1d.bindPopup(popup_5fbd541d4b8c4ba9aa8efb5a07863dbe)
        ;

        
    
    
            var marker_71fc02af96f941d6bc40fb756119abe8 = L.marker(
                [37.581515, 126.925015],
                {}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
        var popup_4e823941a4504f7999c24e9275e4227a = L.popup({"maxWidth": "100%"});

        
            var html_c3ca98631bcb4ea4960eb06aa6c627e9 = $(`<div id="html_c3ca98631bcb4ea4960eb06aa6c627e9" style="width: 100.0%; height: 100.0%;">띵동와플</div>`)[0];
            popup_4e823941a4504f7999c24e9275e4227a.setContent(html_c3ca98631bcb4ea4960eb06aa6c627e9);
        

        marker_71fc02af96f941d6bc40fb756119abe8.bindPopup(popup_4e823941a4504f7999c24e9275e4227a)
        ;

        
    
    
            var marker_4d0a6886aef64bf9a0aac4b911c01d42 = L.marker(
                [37.580057, 126.924613],
                {}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
        var popup_64190d2ef4ff4a70b206fe19403defe3 = L.popup({"maxWidth": "100%"});

        
            var html_13aa9fdfadb34ba6b5cf5506dd1f572a = $(`<div id="html_13aa9fdfadb34ba6b5cf5506dd1f572a" style="width: 100.0%; height: 100.0%;">핫도그팩토리</div>`)[0];
            popup_64190d2ef4ff4a70b206fe19403defe3.setContent(html_13aa9fdfadb34ba6b5cf5506dd1f572a);
        

        marker_4d0a6886aef64bf9a0aac4b911c01d42.bindPopup(popup_64190d2ef4ff4a70b206fe19403defe3)
        ;

        
    
    
            var marker_25773bcbf3e6418eade235b8c8485ad8 = L.marker(
                [37.579985, 126.925115],
                {}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
        var popup_0bfa4a63ba9f4d3e99f65ca5e178f21a = L.popup({"maxWidth": "100%"});

        
            var html_fcab8a2de79d440fafbeb31514b13ba1 = $(`<div id="html_fcab8a2de79d440fafbeb31514b13ba1" style="width: 100.0%; height: 100.0%;">붕어빵</div>`)[0];
            popup_0bfa4a63ba9f4d3e99f65ca5e178f21a.setContent(html_fcab8a2de79d440fafbeb31514b13ba1);
        

        marker_25773bcbf3e6418eade235b8c8485ad8.bindPopup(popup_0bfa4a63ba9f4d3e99f65ca5e178f21a)
        ;

        
    
    
            var marker_351ba8d1fba147f4871308fcb240655b = L.marker(
                [37.573945, 126.923334],
                {}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
        var popup_dcc20ec2d1454e8e989e8bb239b045f8 = L.popup({"maxWidth": "100%"});

        
            var html_27ebfd922c3244019ecd0fa085fdc61f = $(`<div id="html_27ebfd922c3244019ecd0fa085fdc61f" style="width: 100.0%; height: 100.0%;">타코야키</div>`)[0];
            popup_dcc20ec2d1454e8e989e8bb239b045f8.setContent(html_27ebfd922c3244019ecd0fa085fdc61f);
        

        marker_351ba8d1fba147f4871308fcb240655b.bindPopup(popup_dcc20ec2d1454e8e989e8bb239b045f8)
        ;

        
    
    
            var marker_02924f1485ee4c34945afeecc4fc527a = L.marker(
                [37.581752, 126.924334],
                {}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
        var popup_d8305168353645c0b5e37bfce0bb2c67 = L.popup({"maxWidth": "100%"});

        
            var html_3bbeb2c480cd423f8a8725943c60522c = $(`<div id="html_3bbeb2c480cd423f8a8725943c60522c" style="width: 100.0%; height: 100.0%;">청년반점</div>`)[0];
            popup_d8305168353645c0b5e37bfce0bb2c67.setContent(html_3bbeb2c480cd423f8a8725943c60522c);
        

        marker_02924f1485ee4c34945afeecc4fc527a.bindPopup(popup_d8305168353645c0b5e37bfce0bb2c67)
        ;

        
    
    
            var marker_4930dec63f464087b6eb56a1706432d1 = L.marker(
                [37.581375, 126.925334],
                {}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
        var popup_6b261c7653b34e989726f80a0a3706d1 = L.popup({"maxWidth": "100%"});

        
            var html_12214eecaeda449582622fb50b9c4e92 = $(`<div id="html_12214eecaeda449582622fb50b9c4e92" style="width: 100.0%; height: 100.0%;">키다리푸드트럭</div>`)[0];
            popup_6b261c7653b34e989726f80a0a3706d1.setContent(html_12214eecaeda449582622fb50b9c4e92);
        

        marker_4930dec63f464087b6eb56a1706432d1.bindPopup(popup_6b261c7653b34e989726f80a0a3706d1)
        ;

        
    
    
            var marker_a294ac00740d452d9c458749e7c5f1fb = L.marker(
                [37.581215, 126.921334],
                {}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
        var popup_ee18d42cd87c410683e72d238047b74a = L.popup({"maxWidth": "100%"});

        
            var html_83410cf2527e4903a97a15a8f08d2ac9 = $(`<div id="html_83410cf2527e4903a97a15a8f08d2ac9" style="width: 100.0%; height: 100.0%;">기도리</div>`)[0];
            popup_ee18d42cd87c410683e72d238047b74a.setContent(html_83410cf2527e4903a97a15a8f08d2ac9);
        

        marker_a294ac00740d452d9c458749e7c5f1fb.bindPopup(popup_ee18d42cd87c410683e72d238047b74a)
        ;

        
    
    
            var marker_c429e917fd1c4e12b363e3c784ca93a7 = L.marker(
                [37.581175, 126.923434],
                {}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
        var popup_67c5d4f348994f3bb6ce0300868ed56a = L.popup({"maxWidth": "100%"});

        
            var html_4f1377f3360f4b1786288996ddc62c56 = $(`<div id="html_4f1377f3360f4b1786288996ddc62c56" style="width: 100.0%; height: 100.0%;">청년창업</div>`)[0];
            popup_67c5d4f348994f3bb6ce0300868ed56a.setContent(html_4f1377f3360f4b1786288996ddc62c56);
        

        marker_c429e917fd1c4e12b363e3c784ca93a7.bindPopup(popup_67c5d4f348994f3bb6ce0300868ed56a)
        ;

        
    
    
            var marker_13bebc07fe834c4e8779b4090b9bd52f = L.marker(
                [37.581475, 126.926234],
                {}
            ).addTo(map_4c47258e9b3e43f2b3fce4f0950d6c09);
        
    
        var popup_98fbd0600efa4c1e8b83790f9e945752 = L.popup({"maxWidth": "100%"});

        
            var html_2dfcb51a772d44149f08825924b49280 = $(`<div id="html_2dfcb51a772d44149f08825924b49280" style="width: 100.0%; height: 100.0%;">꼬닐스</div>`)[0];
            popup_98fbd0600efa4c1e8b83790f9e945752.setContent(html_2dfcb51a772d44149f08825924b49280);
        

        marker_13bebc07fe834c4e8779b4090b9bd52f.bindPopup(popup_98fbd0600efa4c1e8b83790f9e945752)
        ;

        
    
</script>